
```{=html}
<ul>
<% items.sort(function(a,b){return new Date(b.date) - new Date(a.date)}) %>
<% var currentDate = new Date() %>
<% for (const item of items) { %>
    <% var newDate = new Date(item.date) %>
    <% if (newDate >= currentDate || item.highlight) { %>
        <li> 
            <% if (item.display_date) { %>
                <b><%= item.display_date %></b>:    
            <% } else { %>
                <b><%= item.date %></b>:
            <% } %>
            <%= item.text %>
        </li>
    <% } %>
<% } %>
</ul>
```